Repository navikt/k9-format, pull requests merged in 2021-08, with the labels that each got.

#173 lagt til validering på perioder i map
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/Beredskap.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/LovbestemtFerie.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/Nattevåk.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarn.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/Uttak.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/arbeidstid/Arbeidstid.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/arbeidstid/ArbeidstidInfo.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/tilsyn/Tilsynsordning.java
Labels: bug, kontrakt

#172 forenkling regel oppsett (pakket sammen i egen artefakt - no.nav.k9.d…
  pom.xml
  rules/jakarta-direct.properties
  rules/jakarta-renames.properties
  rules/jakarta-versions.properties
  rules/pom.properties
  rules/transformer-pom-xml.properties
  rules/transformer-pom.properties
Labels: enhancement, pom

#175 Kan oppgi hvilken arbeidgsgiver man har fravær fra
  soknad/src/main/java/no/nav/k9/søknad/felles/fravær/FraværPeriode.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidatorTest.java
Labels: enhancement, kontrakt

#176 lagt på validering på orgnummer
  soknad/src/main/java/no/nav/k9/søknad/felles/type/OrganisasjonsNummerValidator.java
  soknad/src/main/java/no/nav/k9/søknad/felles/type/Organisasjonsnummer.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/PleiepengerBarnSøknadValidatorTest.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/TestUtils.java
Labels: enhancement, kontrakt
