Repository navikt/k9-format, pull requests merged in 2021-03, with the labels that each got.

#104 legger til annen part som mulighet for Ytelse interface
  soknad/src/main/java/no/nav/k9/søknad/ytelse/Ytelse.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/utvidetrett/v1/OmsorgspengerKroniskSyktBarn.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/utvidetrett/v1/OmsorgspengerMidlertidigAlene.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetaling.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarn.java
Labels: kontrakt

#103 Feature/psb ny validering
  .github/settings.xml
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  pom.xml
  soknad/src/main/java/no/nav/k9/søknad/TidsserieValidator.java
  soknad/src/main/java/no/nav/k9/søknad/felles/aktivitet/ArbeidAktivitet.java
  soknad/src/main/java/no/nav/k9/søknad/felles/aktivitet/Arbeidstaker.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarnValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/UttakPeriodeInfo.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/arbeidstid/ArbeidstidInfo.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/arbeidstid/ArbeidstidPeriodeInfo.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/PleiepengerBarnSøknadValidatorTest.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/TestUtils.java
Labels: kontrakt, pom

#107 endrer GITHUB_TOKEN til GITHUB_PASSWORD
  .github/workflows/build.yml
Labels: kontrakt

#108 Fix/master release
  .github/workflows/build.yml
Labels: kontrakt

#117 må også støtte identitetsnummer fra søknad
  soknad/src/main/java/no/nav/k9/søknad/felles/personopplysninger/Barn.java
  soknad/src/main/java/no/nav/k9/søknad/felles/personopplysninger/Søker.java
Labels: enhancement, kontrakt

#118 fix: fjerner public fields som går i beina på annotation mapping.
  ettersendelse/src/main/java/no/nav/k9/ettersendelse/Ettersendelse.java
  ettersendelse/src/main/java/no/nav/k9/ettersendelse/EttersendelseValidator.java
  soknad-omsorgspenger-utbetaling/src/main/java/no/nav/k9/søknad/omsorgspenger/utbetaling/arbeidstaker/OmsorgspengerUtbetalingSøknad.java
  soknad-omsorgspenger-utbetaling/src/main/java/no/nav/k9/søknad/omsorgspenger/utbetaling/snf/OmsorgspengerUtbetalingSøknad.java
  soknad-omsorgspenger/src/main/java/no/nav/k9/søknad/omsorgspenger/OmsorgspengerSøknadValidator.java
  soknad/src/main/java/no/nav/k9/søknad/felles/Feil.java
  soknad/src/main/java/no/nav/k9/søknad/felles/Versjon.java
  soknad/src/main/java/no/nav/k9/søknad/felles/aktivitet/Arbeidstaker.java
  soknad/src/main/java/no/nav/k9/søknad/felles/aktivitet/Frilanser.java
  soknad/src/main/java/no/nav/k9/søknad/felles/aktivitet/Organisasjonsnummer.java
  soknad/src/main/java/no/nav/k9/søknad/felles/aktivitet/SelvstendigNæringsdrivende.java
  soknad/src/main/java/no/nav/k9/søknad/felles/personopplysninger/Barn.java
  soknad/src/main/java/no/nav/k9/søknad/felles/personopplysninger/Bosteder.java
  soknad/src/main/java/no/nav/k9/søknad/felles/personopplysninger/Utenlandsopphold.java
  soknad/src/main/java/no/nav/k9/søknad/felles/type/Landkode.java
  soknad/src/main/java/no/nav/k9/søknad/felles/type/NorskIdentitetsnummer.java
  soknad/src/main/java/no/nav/k9/søknad/felles/type/Språk.java
  soknad/src/main/java/no/nav/k9/søknad/felles/type/SøknadId.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/utvidetrett/v1/OmsorgspengerMidlertidigAlene.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetaling.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarn.java
  soknad/src/test/java/no/nav/søknad/ytelse/omsorgspenger/utvidetrett/OmsorgspengerMidlertidigAleneValidatorTest.java
Labels: bug, enhancement, kontrakt

#119 feature: utvider ytelse for ettersendelse til OMP_UT,OMP_UTV_KS, OMP_…
  ettersendelse/src/main/java/no/nav/k9/ettersendelse/Ytelse.java
  ettersendelse/src/test/java/no/nav/k9/ettersendelse/EttersendelseValidatorTest.java
Labels: enhancement, kontrakt

#120 Utvider fraværperiode med fraværårsak og legger på sluttdato på frilanser.
  soknad-omsorgspenger-utbetaling/src/test/java/no/nav/k9/søknad/omsorgspenger/utbetaling/snf/TestUtils.java
  soknad-omsorgspenger-utbetaling/src/test/resources/snf/komplett-søknad.json
  soknad/src/main/java/no/nav/k9/søknad/felles/aktivitet/Frilanser.java
  soknad/src/main/java/no/nav/k9/søknad/felles/fravær/FraværPeriode.java
  soknad/src/main/java/no/nav/k9/søknad/felles/fravær/FraværÅrsak.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/YtelseValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidator.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidatorTest.java
  soknad/src/test/resources/ytelse/omp/utbetaling/komplett-søknad-omp-utbetaling-snf.json
  soknad/src/test/resources/ytelse/omp/utbetaling/minimum-søknad-omp-utbetaling-snf.json
Labels: enhancement, kontrakt

#122 Deaktiverer validering på frilanser.
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidator.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidatorTest.java
Labels: bug, kontrakt

#121 Feature/psb tilpassning for punsj
  soknad-omsorgspenger-utbetaling/src/main/java/no/nav/k9/søknad/omsorgspenger/utbetaling/snf/OmsorgspengerUtbetalingSøknad.java
  soknad-omsorgspenger-utbetaling/src/main/java/no/nav/k9/søknad/omsorgspenger/utbetaling/snf/OmsorgspengerUtbetalingSøknadValidator.java
  soknad-omsorgspenger-utbetaling/src/test/java/no/nav/k9/søknad/omsorgspenger/utbetaling/snf/OmsorgspengerUtbetalingSøknadValidatorTest.java
  soknad-omsorgspenger-utbetaling/src/test/java/no/nav/k9/søknad/omsorgspenger/utbetaling/snf/TestUtils.java
  soknad/src/main/java/no/nav/k9/søknad/felles/LovbestemtFerie.java
  soknad/src/main/java/no/nav/k9/søknad/felles/opptjening/Frilanser.java
  soknad/src/main/java/no/nav/k9/søknad/felles/opptjening/OpptjeningAktivitet.java
  soknad/src/main/java/no/nav/k9/søknad/felles/opptjening/Organisasjonsnummer.java
  soknad/src/main/java/no/nav/k9/søknad/felles/opptjening/SelvstendigNæringsdrivende.java
  soknad/src/main/java/no/nav/k9/søknad/felles/opptjening/VirksomhetType.java
  soknad/src/main/java/no/nav/k9/søknad/felles/personopplysninger/Bosteder.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetaling.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/Beredskap.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/LovbestemtFerie.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/Nattevåk.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarn.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarnValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/arbeidstid/Arbeidstid.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/arbeidstid/ArbeidstidInfo.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/arbeidstid/ArbeidstidPeriodeInfo.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/arbeidstid/PsbArbeidstaker.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidatorTest.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/PleiepengerBarnSøknadValidatorTest.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/TestUtils.java
  soknad/src/test/resources/ytelse/psb/komplett-søknad.json
Labels: enhancement, kontrakt

#124 endrer på PsbArbeidstaker til Arbeidtaker
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarnValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/arbeidstid/Arbeidstaker.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/arbeidstid/Arbeidstid.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/PleiepengerBarnSøknadValidatorTest.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/TestUtils.java
Labels: bug, kontrakt

#125 lagt tilbake arbeidstaker i felles
  soknad/src/main/java/no/nav/k9/søknad/felles/opptjening/Arbeidstaker.java
  soknad/src/main/java/no/nav/k9/søknad/felles/opptjening/OpptjeningAktivitet.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidatorTest.java
Labels: enhancement, kontrakt

#126 Legger til info om fravær fra opptjeningsaktivitet.
  soknad/src/main/java/no/nav/k9/søknad/felles/fravær/AktivitetFravær.java
  soknad/src/main/java/no/nav/k9/søknad/felles/fravær/FraværPeriode.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidatorTest.java
  soknad/src/test/resources/ytelse/omp/utbetaling/komplett-søknad-omp-utbetaling-snf.json
  soknad/src/test/resources/ytelse/omp/utbetaling/minimum-søknad-omp-utbetaling-snf.json
Labels: enhancement, kontrakt

#127 Upgrades jackson-bom to 2.12.2. Closes #105.
  pom.xml
Labels: pom

#128 Utvider AktivitetFravær med Arbeidstaker.
  soknad/src/main/java/no/nav/k9/søknad/felles/fravær/AktivitetFravær.java
Labels: enhancement, kontrakt

#129 Legger til manglende getter aktivitetFravær
  soknad/src/main/java/no/nav/k9/søknad/felles/fravær/FraværPeriode.java
Labels: kontrakt
