Repository navikt/k9-format, pull requests merged in 2021-06, with the labels that each got.

#157 fikset slik at perioder som inneholder null bygger fortsatt og lager …
  soknad/src/main/java/no/nav/k9/søknad/TidsserieValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarnValidator.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/PleiepengerBarnSøknadValidatorTest.java
Labels: bug, kontrakt

#159 fix: generer Jakarta kompatibel inntektsmelding JAXB fra XSD
  .gitignore
  inntektsmelding/README.MD
  inntektsmelding/pom.xml
  inntektsmelding/src/main/java/no/seres/xsd/nav/inntektsmelding_m/DateAdapter.java
  inntektsmelding/src/main/java/no/seres/xsd/nav/inntektsmelding_m/DateTimeAdapter.java
  inntektsmelding/src/main/java/no/seres/xsd/nav/inntektsmelding_m/_2017/InntektsmeldingConstants.java
  inntektsmelding/src/main/java/no/seres/xsd/nav/inntektsmelding_m/_201809/InntektsmeldingConstants.java
  inntektsmelding/src/main/java/no/seres/xsd/nav/inntektsmelding_m/_201812/InntektsmeldingConstants.java
  inntektsmelding/src/main/resources/xjb/global.xjb
  inntektsmelding/src/main/resources/xsd/Inntektsmelding201712_V4.xsd
  inntektsmelding/src/main/resources/xsd/Inntektsmelding201806_V5.xsd
  inntektsmelding/src/main/resources/xsd/Inntektsmelding20180924_V6.xsd
  inntektsmelding/src/main/resources/xsd/Inntektsmelding20181211_V7.xsd
  inntektsmelding/src/main/resources/xsd/Inntektsmelding_kodelister_20180702.xsd
  inntektsmelding/src/main/resources/xsd/Inntektsmelding_kodelister_20180924.xsd
  inntektsmelding/src/main/resources/xsd/Inntektsmelding_kodelister_20190409.xsd
  inntektsmelding/src/main/resources/xsd/Inntektsmelding_kodelister_20210216.xsd
  pom.xml
Labels: bug, chore, enhancement, kontrakt, pom

#158 sletter slettmegMap for ferie, legger til skalHaFerie
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/LovbestemtFerie.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/PleiepengerBarnSøknadValidatorTest.java
Labels: bug, kontrakt

#163 lagt på validering av fom>tom med felt info
  soknad/src/main/java/no/nav/k9/søknad/TidsserieValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarnValidator.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/PleiepengerBarnSøknadValidatorTest.java
Labels: bug, kontrakt

#165 fikser test som feiler ved helg
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/PleiepengerBarnSøknadValidatorTest.java
Labels: bug, kontrakt

#166 Feature/jakarta artifiakter
  pom.xml
  rules/jakarta-direct.properties
  rules/jakarta-renames.properties
  rules/jakarta-versions.properties
  rules/pom.properties
  rules/transformer-pom-xml.properties
  rules/transformer-pom.properties
Labels: enhancement, pom
