Repository navikt/k9-format, pull requests merged in 2021-05, with the labels that each got.

#141 refactor: flytter value objects til felles.type
  soknad-omsorgspenger-utbetaling/src/test/java/no/nav/k9/søknad/omsorgspenger/utbetaling/snf/OmsorgspengerUtbetalingSøknadValidatorTest.java
  soknad-omsorgspenger-utbetaling/src/test/java/no/nav/k9/søknad/omsorgspenger/utbetaling/snf/TestUtils.java
  soknad/src/main/java/no/nav/k9/søknad/felles/opptjening/Arbeidstaker.java
  soknad/src/main/java/no/nav/k9/søknad/felles/opptjening/SelvstendigNæringsdrivende.java
  soknad/src/main/java/no/nav/k9/søknad/felles/type/Organisasjonsnummer.java
  soknad/src/main/java/no/nav/k9/søknad/felles/type/VirksomhetType.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/arbeidstid/Arbeidstaker.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/PleiepengerBarnSøknadValidatorTest.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/TestUtils.java
Labels: enhancement, kontrakt

#142 Legger til "bosteder" for Medlemskapsvilkåret
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetaling.java
Labels: kontrakt

#143 fikser feil feilmedling om validering av SN
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarnValidator.java
Labels: bug, kontrakt

#144 tatt bort at med funksjonene krever at det er ikke null for omsorg psb
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/Omsorg.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/PleiepengerBarnSøknadValidatorTest.java
Labels: bug, kontrakt

#145 fikser feilmelding teskst, fikk nullpointer ved utenthing av info. Fi…
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarnValidator.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/PleiepengerBarnSøknadValidatorTest.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/TestUtils.java
Labels: bug, kontrakt

#146 endret navn på objektet for info fra punsj til journalposter, lagt ti…
  soknad/src/main/java/no/nav/k9/søknad/Søknad.java
  soknad/src/main/java/no/nav/k9/søknad/felles/type/Journalpost.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/InfoFraPunsj.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarn.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/PleiepengerBarnSøknadValidatorTest.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/TestUtils.java
  soknad/src/test/resources/ytelse/psb/komplett-søknad.json
Labels: enhancement, kontrakt

#147 lagt på Optional for felter som kan retunere null
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/Omsorg.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarn.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarnValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/arbeidstid/Arbeidstid.java
Labels: enhancement, kontrakt

#149 Lagt på at fom eller tom i periode ikke kan være null for psb
  soknad/src/main/java/no/nav/k9/søknad/TidsserieValidator.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/psb/PleiepengerBarnSøknadValidatorTest.java
Labels: enhancement, kontrakt

#148 Fix/psb get søknadsperioder
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarn.java
Labels: bug, kontrakt

#152 lagt til felter for inneholderMedisinskeOpplysninger
  soknad/src/main/java/no/nav/k9/søknad/felles/type/Journalpost.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/InfoFraPunsj.java
  soknad/src/test/resources/ytelse/psb/komplett-søknad.json
Labels: enhancement, kontrakt
