Repository navikt/k9-format, pull requests merged in 2022-09, with the labels that each got.

#297 Deprekere YtelseValidator-er, småforbedringer
  soknad/src/main/java/no/nav/k9/søknad/Validator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/Ytelse.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/YtelseValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/olp/v1/OpplæringspengerSøknadValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/olp/v1/OpplæringspengerYtelseValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/utvidetrett/v1/OmsorgspengerAleneOmsorg.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/utvidetrett/v1/OmsorgspengerAleneOmsorgSøknadValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/utvidetrett/v1/OmsorgspengerKroniskSyktBarn.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/utvidetrett/v1/OmsorgspengerKroniskSyktBarnSøknadValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/utvidetrett/v1/OmsorgspengerMidlertidigAlene.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/utvidetrett/v1/OmsorgspengerMidlertidigAleneSøknadValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/utvidetrett/v1/RammevedtakSøknadValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingSøknadValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/pls/v1/PleiepengerLivetsSluttfaseSøknadValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/pls/v1/PleiepengerLivetsSluttfaseYtelseValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/psb/v1/PleiepengerSyktBarnSøknadValidator.java
Labels: kontrakt

#298 Fix: tillater flere FraværPeriode.aktivitetFravær
  soknad/src/main/java/no/nav/k9/søknad/felles/fravær/FraværPeriode.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidatorTest.java
Labels: bug, kontrakt

#299 Fix OMP fjernet en validering fra søknad, skull kun være på korriger IM
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidator.java
Labels: bug, kontrakt

#301 OLP - flere perioder per kurs - med avreise og hjemkomst
  soknad/src/main/java/no/nav/k9/søknad/ytelse/olp/v1/OpplæringspengerYtelseValidator.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/olp/v1/kurs/Kurs.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/olp/v1/kurs/KursPeriodeMedReisetid.java
Labels: enhancement, kontrakt

#300 Fix PPN søknadsvalidator, la tilbake metode som hadde blitt fjernet
  soknad/src/main/java/no/nav/k9/søknad/ytelse/pls/v1/PleiepengerLivetsSluttfaseSøknadValidator.java
Labels: bug, kontrakt

#303 Må takle null versjon
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidator.java
Labels: kontrakt

#306 Fix OMP søknadsvalidator - tillater samtidige perioder for ulike aktiviteter
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidator.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidatorTest.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidatorV1_0_0Test.java
Labels: bug, kontrakt

#310 Lagt til lovbestemtferie i PLS
  soknad/src/main/java/no/nav/k9/søknad/ytelse/pls/v1/PleipengerLivetsSluttfase.java
Labels: kontrakt

#311 Legger til info erFiskerPåBladB.
  soknad-omsorgspenger-utbetaling/src/test/java/no/nav/k9/søknad/omsorgspenger/utbetaling/snf/TestUtils.java
  soknad-omsorgspenger-utbetaling/src/test/resources/snf/komplett-søknad-med-barn.json
  soknad-omsorgspenger-utbetaling/src/test/resources/snf/komplett-søknad-uten-næringsinntekt.json
  soknad-omsorgspenger-utbetaling/src/test/resources/snf/komplett-søknad.json
  soknad/src/main/java/no/nav/k9/søknad/felles/opptjening/SelvstendigNæringsdrivende.java
  soknad/src/test/java/no/nav/k9/søknad/felles/opptjening/SelvstendigNæringsdrvendeTest.java
  soknad/src/test/resources/ytelse/omp/utbetaling/v1.0.0/komplett-søknad-omp-utbetaling-snf.json
  soknad/src/test/resources/ytelse/omp/utbetaling/v1.1.0/komplett-søknad-omp-utbetaling-snf.json
  soknad/src/test/resources/ytelse/psb/søknad-med-endring.json
Labels: kontrakt

#312 Fix: OMP Validering av periode som ikke er satt ordentlig
  soknad/src/main/java/no/nav/k9/søknad/felles/fravær/FraværPeriode.java
  soknad/src/main/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidator.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidatorTest.java
  soknad/src/test/java/no/nav/k9/søknad/ytelse/omsorgspenger/v1/OmsorgspengerUtbetalingValidatorV1_0_0Test.java
Labels: bug, kontrakt

#313 Disabler validering på erFiskerPåBladB
  soknad/src/main/java/no/nav/k9/søknad/felles/opptjening/SelvstendigNæringsdrivende.java
  soknad/src/test/java/no/nav/k9/søknad/felles/opptjening/SelvstendigNæringsdrvendeTest.java
Labels: kontrakt
