Repository navikt/k9-format, pull requests merged in 2024-02, with the labels that each got.

#406 Legger til initiell kontraktforslag for Saksinnhold.
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  innsyn/pom.xml
  innsyn/src/main/java/no/nav/k9/innsyn/InnsynHendelseData.java
  innsyn/src/main/java/no/nav/k9/innsyn/sak/Aksjonspunkt.java
  innsyn/src/main/java/no/nav/k9/innsyn/sak/Behandling.java
  innsyn/src/main/java/no/nav/k9/innsyn/sak/BehandlingStatus.java
  innsyn/src/main/java/no/nav/k9/innsyn/sak/Fagsak.java
  innsyn/src/main/java/no/nav/k9/innsyn/sak/SøknadInfo.java
  innsyn/src/main/java/no/nav/k9/innsyn/sak/SøknadStatus.java
  innsyn/src/test/java/no/nav/k9/innsyn/sak/BehandlingTest.java
  pom.xml
Labels: kontrakt, pom

#411 Reduserer saksbehandlingstid fra 8 uker til 7 uker.
  innsyn/src/test/java/no/nav/k9/innsyn/sak/BehandlingTest.java
  konstant/src/main/java/no/nav/k9/konstant/Konstant.java
Labels: kontrakt

#413 Bumper k9-kontrakt.
  innsyn/pom.xml
Labels: pom

#414 endrer til å bruke journalpostid istedenfor søknadid da det er enkler…
  innsyn/src/main/java/no/nav/k9/innsyn/sak/SøknadInfo.java
  innsyn/src/test/java/no/nav/k9/innsyn/sak/BehandlingTest.java
Labels: kontrakt

#415 Legger på nye felter i Behandling.
  innsyn/src/main/java/no/nav/k9/innsyn/TempObjectMapperKodeverdi.java
  innsyn/src/main/java/no/nav/k9/innsyn/sak/Aksjonspunkt.java
  innsyn/src/main/java/no/nav/k9/innsyn/sak/Behandling.java
  innsyn/src/main/java/no/nav/k9/innsyn/sak/BehandlingResultat.java
  innsyn/src/main/java/no/nav/k9/innsyn/sak/BehandlingStatus.java
  innsyn/src/test/java/no/nav/k9/innsyn/sak/BehandlingTest.java
  konstant/src/main/java/no/nav/k9/konstant/Konstant.java
  soknad/src/main/java/no/nav/k9/søknad/JsonUtils.java
Labels: kontrakt

#416 jsonformat på datoer
  innsyn/src/main/java/no/nav/k9/innsyn/InnsynHendelse.java
  innsyn/src/main/java/no/nav/k9/innsyn/sak/Aksjonspunkt.java
  innsyn/src/main/java/no/nav/k9/innsyn/sak/Behandling.java
  innsyn/src/main/java/no/nav/k9/innsyn/sak/SøknadInfo.java
  soknad/src/main/java/no/nav/k9/søknad/Søknad.java
  soknad/src/main/java/no/nav/k9/søknad/felles/DtoKonstanter.java
Labels: kontrakt
